### Ignore all files within any Data folder
**/data/*
**/log/*
###

### Python virtual environment
.venv/
__pycache__/
.index
.env
###

### Also ignore any files with extensions that look like data files
*.xlsx
*.dta
*.csv
*.db
###

### Ignore any files which are probably log files
*.log
*.msg
*.txt
*.text
!requirements.txt

# Stata log format
*.smcl
*.sthlp
*.Rout
###

### Output
# Ignore everything under output/
output/**

# Except bindev subfolder
!output/bindev/

# Ignore all tex files
output/bindev/*.tex

# but track these
!output/bindev/cftemp_comp_era5_F.tex
!output/bindev/cftemp_comp_ghcn_ext.tex
!output/bindev/cftemp_comp_schlenker_F.tex
!output/bindev/cftemp_comp_prism_1970.tex
!output/bindev/power_table_era5_F.tex
!output/bindev/power_table_ghcn_ext.tex
!output/bindev/power_table_schlenker_F.tex
!output/bindev/power_table_prism_1970.tex
###

### I think all of these are created when converting a .tex into .pdf
*.aux
*.out
*.gz
*.fdb_latexmk
###

### Random other files automatically created by mac
._.*
._*
.DS_Store
###