### Ignore all files within any Data folder
**/data/*
**/log/*
###

### Python virtual environment
.venv/
__pycache__/
.index
.env
###

### Also ignore any files with extensions that look like data files
*.xlsx
*.dta
*.csv
*.db
###

### Ignore any files which are probably log files
*.log
*.msg
*.txt
*.text
!requirements.txt

# Stata log format
*.smcl
*.sthlp
*.Rout
###

### Output
# Ignore everything under output/
output/**

# Except bindev subfolder
!output/bindev/

# Ignore that specific .tex file
output/bindev/cftemp_bias_formula_new.tex

# Allow all other .tex files in bindev
!output/bindev/*.tex
###

### I think all of these are created when converting a .tex into .pdf
*.aux
*.out
*.gz
*.fdb_latexmk
###

### Random other files automatically created by mac
._.*
._*
.DS_Store
###